# horizon files
rethinkdb_data
**/*.log
.hz

# nyc test coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Static Script Bundles
dist/bundle.js
dist/bundle.min.js

# Other folders and files
old
staging
error_notes.txt
.config
