# nyc test coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Static Files
public/bundle.js
public/bundle.min.js
favicon.png
logo_sm.png
Roboto-Regular.ttf

# Firebase files
firebase-debug.log


# Other folders and files
old
.config
