.hidden {
    display: none;
}

.md-photo {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 5%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.navbar {
    z-index: 1;
}
.autocomplete {
    padding: 0.5em 0.5em 0.5em 1em;
    width: 16em;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    background-color: #447DF7;
     -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}
.autocomplete ul {
    list-style: none;
    padding: 0em;
}
@media only screen and (min-width : 992px) {
    .autocomplete {
        width: 30em;
        background-color: #fff;
    }
    .autocomplete li:hover, .autocomplete-selected {
        width: 100%;
        background-color: #447DF7;
        color: #fff;
    }
}