.hidden {
    display: none;
}

.md-photo {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 5%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}