<div class="card" id="equipmentTabs">
    <div class="header">
        <h4 class="title">Equipment</h4>        
    </div>
    <div class="content content-full-width">
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#equip-browse" data-toggle="tab"><i class="fa fa-book"></i> Browse</a>
            </li>
            <li>
                <a href="#equip-add" data-toggle="tab"><i class="fa fa-plus"></i> Add</a>
            </li>
            <li>
                <a class="restrictedToLabAssistant" href="#equip-inventory" data-toggle="tab"><i class="fa fa-cogs"></i> Inventory</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="equip-browse" class="tab-pane active">
                <div class="panel-group" id="categoryAccordian">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-target="#collapseCats" href="#v/equipment/categories" data-toggle="collapse">
                                Categories

                                <b class="caret"></b>
                            </a>
                        </div>
                        <div id="collapseCats" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div id="category-list">
                                    <!-- Template for each category -->
                                    <div class="col-md-3">
                                        <p class="category"></p>
                                        <div class="switch"
                                            data-on-label="<i class='fa fa-check'></i>"
                                            data-off-label="<i class='fa fa-times'></i>">
                                            <input type="checkbox"/>
                                        </div>
                                        <ul class="subCategory">
                                            <li>
                                                <p class="subCategoryName"></p>
                                                <div class="switch"
                                                    data-on-label="<i class='fa fa-check'></i>"
                                                    data-off-label="<i class='fa fa-times'></i>">
                                                    <input type="checkbox"/>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End template for each category -->
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <form class="navbar-form navbar-left navbar-search-form hidden" role="search" id="equipment-mobile-search">                  
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" value="" class="form-control" placeholder="Search...">
                        </div> 
                </form>
                <div id="equip-list" class="hidden">
                    <!-- Template for each piece of equipment -->
                    <div class="row">
                        <div class="col-md-12">
                            <legend><strong><span class="name"></span></strong></legend>
                            <div class="col-md-3">
                                <div class="md-photo">
                                    <img class="imageEquip" src="" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p>
                                    Category: <strong><span class="category"></span> > <span class="subCategory"></span></strong><br>
                                    Manufacturer: <strong><span class="mfg"></span></strong><br>
                                    Model: <strong><span class="model"></span></strong><br>
                                    Price: <strong>$<span class="price"></span></strong><br>
                                </p>
                                <p class="inKit"><i class="fa fa-briefcase"></i> Kit Item</p>
                            </div>
                        </div>
                    </div>
                    <!-- End template for each piece of equipment -->
                </div>
            </div>
            
            <div id="equip-add" class="tab-pane">
                We are Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
            <div id="equip-inventory" class="tab-pane restrictedToLabAssistant">
                Explore a wide Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
        </div>

    </div>
</div>