<div class="card" id="equipmentTabs">
    <div class="header">
        <h4 class="title">Equipment</h4>        
    </div>
    <div class="content content-full-width">
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#equip-browse" data-toggle="tab"><i class="fa fa-book"></i> Browse</a>
            </li>
            <li>
                <a href="#equip-add" data-toggle="tab"><i class="fa fa-plus"></i> Add</a>
            </li>
            <li>
                <a class="restrictedToLabAssistant" href="#equip-inventory" data-toggle="tab"><i class="fa fa-cogs"></i> Inventory</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="equip-browse" class="tab-pane active">
                <div id="equip-list">
                    <!-- Template for each piece of equipment -->
                    <div class="row">
                        <div class="col-md-12">
                            <legend><strong><span class="name">A Fancy Expensive Thing</span></strong></legend>
                            <div class="col-md-3">
                                <div class="md-photo">
                                    <img class="imageEquip" src="assets/img/blog-5.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p>
                                    Category: <strong><span class="category">Fancy Stuff > Even Fancier Stuff</span></strong><br>
                                    Manufacturer: <strong><span class="mfg">Orange</span></strong><br>
                                    Model: <strong><span class="model">eyePad 2090</span></strong><br>
                                    Price: <strong>$<span class="price">9999.00</span></strong><br>
                                </p>
                                <p class="inKit"><i class="fa fa-briefcase"></i> Kit Item</p>
                            </div>
                        </div>
                    </div>
                    <!-- End template for each piece of equipment -->
                </div>
            </div>
            <div id="equip-add" class="tab-pane">
                We are Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
            <div id="equip-inventory" class="tab-pane restrictedToLabAssistant">
                Explore a wide Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
        </div>

    </div>
</div>