<div class="card">
    <div class="header">
        <h4 class="title">Groups</h4>        
    </div>
    <div class="content content-full-width">
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#group-browse" data-toggle="tab"><i class="fa fa-book"></i> Browse</a>
            </li>
            <li>
                <a href="#group-enroll" data-toggle="tab"><i class="fa fa-user-plus"></i> Enroll</a>
            </li>
            <li>
                <a href="#group-add" data-toggle="tab"><i class="fa fa-plus"></i> Add</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="group-browse" class="tab-pane active">
                Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!
            </div>
            <div id="group-enroll" class="tab-pane">
                We are Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
            <div id="group-add" class="tab-pane">
                Explore a wide Houses Inc., a group of architects and interior designers based in Chicago and operating for clients worldwide. We’ve been designing stunningly beautiful houses and making clients happy for years.
            </div>
        </div>

    </div>
</div>