/* General Styles
-----------------------------------*/
body {
    font-family: "Roboto Slab", 'Franklin Gothic Medium', Arial, serif;
    color: #fff;
    background-color: #1C8ADB;
}
button, button:focus {
    border-color: #fff;
    color: #fff;
}
button:hover {
    border-color: #A8D0EF;
    color: #A8D0EF;
}
input {
    color: #fff;
    outline: none;
}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #7694AD;
}
div {
    outline: none;
}

/* Menu Styles
-----------------------------------*/
.menu {
    margin-top: 2rem;
}

/* Game Styles
-----------------------------------*/
.game p {
    font-size: 3.6rem; 
    line-height: 1.25; 
    letter-spacing: -.1rem;
    margin-bottom: 0;
}
.game input {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    height: 50px;
    width: 75%;
}

.game input:focus {
    border: none;
}


/* Instruction Styles
-----------------------------------*/
.instructions {
    display: none;
    position: absolute;
    top: 0;
    margin: 0 auto;
    padding-top: 2rem;
    width: 100%;
    background-color: #FFB300;
}